/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
  height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --padding: 20px;

  --text-primary: #000;
  --text-secondary: #333;
}

.nav_container {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
}

.nav_container ul {
  display: flex;
  gap: 0.5rem;
}

.hidden {
  display: none;
}

main {
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

p {
  color: var(--text-secondary);
}

.main_description {
  margin: 0 0 20px 0;
}

.articles_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
}

.articles_list ul {
  list-style: square !important;
}
.articles_list li {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--text-primary);
  gap: 20px;
}
.articles_list li img {
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}
.article_title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.article_subtitle {
  font-size: 1rem;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  :root {
    --padding: 60px;
  }
}

@media (min-width: 1064px) {
  :root {
    --padding: 80px;
  }
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 500px;
  padding: 16px;
}

.input {
  display: flex;
  flex-direction: column;
}


.layout {
  width: 100%;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }
.main { 
  grid-area: main;
  padding: 20px var(--padding);
  margin: 0 auto;
}
.footer { 
  grid-area: footer; 
  border-top: 1px solid var(--text-primary);
  padding: 20px var(--padding) 0px;
}

.error_message {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
