{{ define "content" }}
<main>
  <h1>Bem vindo ao meu Blog</h1>
  <p class="main_description">
    Um espaço pessoal onde compartilho meus pensamentos sobre desenvolvimento web, design e tecnologia.
  </p>

  <section id="articles">
    <h2>Artigos recentes</h2>
    <p class="main_description">
      Aqui estão alguns dos meus últimos artigos. Clique nos títulos para ler mais.
    </p>

    <ul class="articles_list">
      {{ range .Articles}}
        <li>
          <a href="/article/{{ .Slug }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}

