{{ define "content" }}
  <h1>Bem vindo ao meu Blog</h1>
  <p class="main_description">
    Um espaço pessoal onde compartilho meus pensamentos sobre desenvolvimento web, design e tecnologia.
  </p>

  <section id="articles">
    <h2>Artigos recentes</h2>
    <p class="main_description">
      Aqui estão alguns dos meus últimos artigos. Clique nos títulos para ler mais.
    </p>

    <ul class="articles_list">
      {{ range .Articles}}
        <li>
          <img src="{{ .Image }}" alt="{{ .Title }}" class="article_image" />

          <div class="article_content">
            <h3 class="article_title">
              <div>
                <p>{{ .Category }}</p>
                <p class="article_subtitle">{{ .ReadTime }}</p>
              </div>
              <a href="/article/{{ .Slug }}">{{ .Title }}</a>
            </h3>
            <p class="article_description">
              {{ .Description }}
            </p>
            <div class="article_footer">
              <p class="article_date">
                {{ .Date.Format "02 de janeiro de 2006" }}
              </p>
              <a href="/article/{{ .Slug }}">Ler mais</a>
            </div>
          </div>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}

