{{ define "content" }}
<div class="center_flex">
  <form action="/user/signin" method="POST" class="login_form">
    <h1>Login</h1>
    <div class="input">
      <label for="username">Usuário:</label>
      <input type="text" id="username" name="username" required>
    </div>

    <div class="input">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Entrar</button>
    {{ if .Error }}
      <p class="error_message">{{ .Error }}</p>
    {{ end }}
    
  </form>
</div>
{{ end }}
